<div id="<%= dom_id topic %>">
  <p>
    <strong>Title:</strong>
    <%= link_to topic.title, topic %>
  </p>

  <p>
    <strong>Preview:</strong>
    <%= topic.preview %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= topic.notes %>
  </p>

  <p>
    <strong>URL:</strong>
    <%= topic.url %>
  </p>

</div>
