<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @topic %>

<%= render @topic %>

<div>
  <%= edit %> |
  <%= link_to "Back to topics", topics_path %>

  <%= button_to "Destroy this topic", @topic, method: :delete, class: "btn btn-sm btn-danger mt-3" %>
</div>
